DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Chaves criptográficas em Base64.
# Gere duas chaves diferentes com 32 bytes cada.
APP_CRYPTO_ENCRYPTION_KEY=
APP_CRYPTO_HMAC_KEY=
APP_CRYPTO_KEY_VERSION=1